<ng-template #content let-modal>
    <div class="new-member-wrap">
        <div id="new-member" class="new-member-inner">
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
            <h2>Create new client</h2>
            <ul class="form">
                <ng-content></ng-content>
            </ul>
            <div class="buttons">
                <div class="inner">
                    <a href="javascript:;" class="btn green">Save</a>
                </div>
            </div>
        </div>
    </div>
</ng-template>
