<div class="alpha">
    <ul>
        <li *ngFor="let alpha of alphabet" >
            <a href="javascript:;" (click)="getFirstLetter(alpha)"> {{alpha}} </a>
        </li>
    </ul>
</div>

<div class="accordion-wrap clients">
    <div class="item" *ngFor="let item of clientsToDisplay | slice: (curPage * pageSize) - pageSize :curPage * pageSize">
        <div class="heading">
            <span>{{ item.clientName }}</span>
            <i>+</i>
        </div>
    </div>
</div>

<div class="pagination">
    <ul>
        <li *ngIf="curPage > 1" [attr.disabled]="curPage == 1" (click)="curPage = curPage - 1">
            <a href="javascript:;">Prev</a>
        </li>
        <li>
            <a href="javascript:;">{{curPage}}</a>
        </li>
        <li class="last" [attr.disabled]="curPage >= clientsToDisplay.length/pageSize" (click)="curPage = curPage + 1">
            <a href="javascript:;">Next</a>
        </li>
    </ul>
</div>

<!--<div>{{message}}</div>-->
