<div class="wrapper">
    <section class="content">
        <tsh-card-title>Clients</tsh-card-title>
        <tsh-new-member>Create new client
            <tsh-search-member></tsh-search-member>
        </tsh-new-member> 
        <tsh-alphabet-order></tsh-alphabet-order>
        <tsh-clients-list></tsh-clients-list>
        <tsh-pagination></tsh-pagination>
    </section>
</div>

<!-- javascript -->

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">window.jQuery || document.write("<script src='assets/scripts/main/jquery-1.8.3.min.js'>\x3C/script>")</script>
<script type="text/javascript" src="assets/scripts/main/default.js"></script>
<script type="text/javascript" src="assets/scripts/main/accordion.js"></script>
<script type="text/javascript" src="assets/scripts/libs/jquery.fancybox.js"></script>

<!--[if lt IE 7]><p class="chromeframe">Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

