<nav>
  <ul class="menu">
    <li>
      <a href="index.html" class="btn nav" [routerLink]="['index']" routerLinkActive="active">TimeSheet</a>
    </li>
    <li>
      <a href="clients.html" class="btn nav" [routerLink]="['clients']" routerLinkActive="active" (click)="newMessage()">Clients</a>
    </li>
    <li>
      <a href="projects.html" class="btn nav" [routerLink]="['projects']" routerLinkActive="active">Projects</a>
    </li>
    <li>
      <a href="categories.html" class="btn nav" [routerLink]="['categories']" routerLinkActive="active">Categories</a>
    </li>
    <li>
      <a href="team-members.html" class="btn nav" [routerLink]="['team-members']" routerLinkActive="active">Team members</a>
    </li>
    <li class="last">
      <a href="reports.html" class="btn nav" [routerLink]="['reports']" routerLinkActive="active">Reports</a>
    </li>
  </ul>
  <div class="mobile-menu">
    <a href="javascript:;" class="menu-btn">
      <i class="zmdi zmdi-menu"></i>
    </a>
    <ul>
      <li>
        <a href="javascript:;" [routerLink]="['time-sheet']" routerLinkActive="active">TimeSheet</a>
      </li>
      <li>
        <a href="javascript:;" [routerLink]="['clients']" routerLinkActive="active">Clients</a>
      </li>
      <li>
        <a href="javascript:;" [routerLink]="['projects']" routerLinkActive="active">Projects</a>
      </li>
      <li>
        <a href="javascript:;" [routerLink]="['categories']" routerLinkActive="active">Categories</a>
      </li>
      <li>
        <a href="javascript:;" [routerLink]="['team-members']" routerLinkActive="active">Team members</a>
      </li>
      <li class="last">
        <a href="javascript:;" [routerLink]="['reports']" routerLinkActive="active">Reports</a>
      </li>
    </ul>
  </div>					
  <span class="line"></span>
</nav>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">window.jQuery || document.write("<script src='assets/scripts/main/jquery-1.8.3.min.js'>\x3C/script>")</script>
<script type="text/javascript" src="assets/scripts/main/default.js"></script>